<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>目标检测数据集标注工具</title>
    <link type="favicon" rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="/static/build/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/build/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 ticket-img-side">
            <button class="btn btn-default btn-lg" id="side_left" type="button" value="left"><span
                    class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button>
        </div>
        <div class="col-md-10 ticket-img-main" id="ticket-img">&nbsp;</div>
        <div class="col-md-1 ticket-img-side">
            <button class="btn btn-default btn-lg" id="side_right" type="button" value="right"><span
                    class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button>
        </div>
    </div>
    <div></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">标注类型：
            <label class="radio-inline">
                <input type="radio" name="radio_region" id="region_number" value="class1" checked="checked"> 类别1
            </label>
            <label class="radio-inline">
                <input type="radio" name="radio_region" id="region_verifycode" value="class2"> 类别2
            </label>
            <label class="radio-inline">
                <input type="radio" name="radio_region" id="region_code" value="class3"> 类别3
            </label>
            <label class="radio-inline">
                <input type="radio" name="radio_region" id="region_date" value="class4"> 类别4
            </label>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <span>样本总数：<strong id="total"></strong></span>
            <input type="text" id="jump_page" value="" style="width:100px" placeholder="跳转到指定页"/>
            <span>当前文件：<strong id="cur_id"></strong></span>
            <span>坐标区域：<strong id="cur_loc"></strong></span>
            <button class="btn btn-default" id="btn_save" type="button">保存</button>
        </div>
    </div>
    <div  class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <span>标注状态：</span>
            <textarea class="form-control" id="annotation_status" rows="6"></textarea>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/build/js/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/static/build/js/layer-v3.1.1/layer/layer.js"></script>
<script src="/static/build/js/custom.js"></script>
<script type="text/javascript">
  ticketCount = "{{ ticket_count }}";
</script>
<script type="text/javascript">
        window.onload = function(e) {
          e = e || window.event;
          // startX, startY 为鼠标点击时初始坐标
          // diffX, diffY 为鼠标初始坐标与 box 左上角坐标之差，用于拖动
          var startX, startY, diffX, diffY;
          // 是否拖动，初始为 false
          var dragging = false;

          // 鼠标按下
          document.onmousedown = function(e) {
              startX = e.pageX;
              startY = e.pageY;

              // 如果鼠标在 box 上被按下
              if(e.target.className.match(/box/)) {
                  // 允许拖动
                  dragging = true;

                  // 设置当前 box 的 id 为 moving_box
                  if(document.getElementById("moving_box") !== null) {
                      document.getElementById("moving_box").removeAttribute("id");
                  }
                  e.target.id = "moving_box";

                  // 计算坐标差值
                  diffX = startX - e.target.offsetLeft;
                  diffY = startY - e.target.offsetTop;
              }
              else {
                  // 在页面创建 box
                  var active_box = document.createElement("div");
                  active_box.id = "active_box";
                  active_box.className = "box";
                  active_box.style.position = 'absolute';
                  active_box.style.top = startY + 'px';
                  active_box.style.left = startX + 'px';
                  document.body.appendChild(active_box);
                  active_box = null;
              }
          };

          //右键移除该矩形框
          document.oncontextmenu = function(e){
            // 如果鼠标在 box 上按下右键
            if(e.target.className.match(/box/)) {
              document.body.removeChild(e.target);
              //不继续传递右键事件，即不弹出菜单
              return false;
            }
            return true;
          };

          // 鼠标移动
          document.onmousemove = function(e) {
              // 更新 box 尺寸
              if(document.getElementById("active_box") !== null) {
                  var ab = document.getElementById("active_box");
                  ab.style.width = e.pageX - startX + 'px';
                  ab.style.height = e.pageY - startY + 'px';
              }

              // 移动，更新 box 坐标
              if(document.getElementById("moving_box") !== null && dragging) {
                  var mb = document.getElementById("moving_box");
                  mb.style.top = e.pageY - diffY + 'px';
                  mb.style.left = e.pageX - diffX + 'px';
              }
          };

          // 鼠标抬起
          document.onmouseup = function(e) {
              // 禁止拖动
              dragging = false;
              if(document.getElementById("active_box") !== null) {
                  var ab = document.getElementById("active_box");
                  ab.removeAttribute("id");
                  // 如果长宽均小于 3px，移除 box
                  if(ab.offsetWidth < 3 || ab.offsetHeight < 3) {
                      document.body.removeChild(ab);
                  }else{
                      updateLoc(ab);
                  }
              }else if(document.getElementById("moving_box") !== null) {
                var ab = document.getElementById("moving_box");
                updateLoc(ab);
              }
          };

          function updateLoc(obj){
            ticket_img = document.getElementById("ticket-img");
            x_left = obj.offsetLeft - ticket_img.offsetLeft;
            y_left = obj.offsetTop - ticket_img.offsetTop;
            x_right = x_left + $(obj).width();
            y_right = y_left + $(obj).height();
            $('#cur_loc').html(x_left+','+y_left+','+x_right+','+y_right);
          }
      };
</script>
</body>
</html>