<!DOCTYPE html>
<html>
<body>
<label class="radio-inline"><input type="radio" name="radio_region" id="region_type1" value="type1"> 标签1</label><label class="radio-inline"><input type="radio" name="radio_region" id="region_type2" value="type2"> 标签2</label><label class="radio-inline"><input type="radio" name="radio_region" id="region_type3" value="type3"> 标签3</label><label class="radio-inline"><input type="radio" name="radio_region" id="region_type4" value="type4"> 标签4</label><label class="radio-inline"><input type="radio" name="radio_region" id="region_type5" value="type5"> 标签5</label><label class="radio-inline"><input type="radio" name="radio_region" id="region_type6" value="type6"> 标签6</label>

</body>
</html>